@model ServiceForMinibuses.Web.Models.RouteListViewModel
@{
    ViewBag.Title = "View routes";
}

<h2>All routes</h2>
<div class="row">
    <a class="text-size" href="@Url.Action("CreateRoute", "Route")"><span class="glyphicon glyphicon-plus"></span>Add route </a>
</div>

<div class="table table-striped">
    <table class="table table-bordered">
        
        <tr>
            <th>Name</th>
            <th>Stops</th>
           
        </tr>
       @foreach (var route in Model.Routes)
       {
            <tr>
                <td>
                    @route.Name
                </td>
                <td>
                    @foreach (var stop in route.Stops)
                    {
                        @stop.Name
                    }
                </td>
            </tr>
        }
    </table>
</div>