@{
    ViewBag.Title = "Home page";
}



<div class="row">
    <a class="text-size"  href="@Url.Action("CreateRoute", "Route")"><span class="glyphicon glyphicon-plus"></span>Create route </a>
</div>

<div class="row">
    <a class="text-size" href="@Url.Action("CreateStop", "Stop")"><span class="glyphicon glyphicon-plus"></span>Create stop</a>
</div>


@section styles {
    <link rel="stylesheet" href="/kendoui/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/kendoui/styles/kendo.default.min.css" />
    <style>
        .text-size{
            font-size: 20px;
        }
    </style>
    }